services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: oanim
      POSTGRES_PASSWORD: oanim
      POSTGRES_DB: oanim
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
